<h1>Login</h1>
<%= @error_message %>
<%= form_with url: '/sessions/', method: :post do | form | %>
<div>
    <label>Username</label>
    <%= form.text_field :username %>
</div>
<div>
    <label>Password</label>
    <%= form.password_field :password %>
</div>
<%= form.submit %>
<% end %>