<h1>Edit Dragon</h1>

<%= form_with model: @dragon do | form | %>
    <%= form.label 'Name'%>
    <%= form.text_field :name %>
    <br />
    <%= form.label 'Height'%>
    <%= form.text_field :height %>
    <br />
    <%= form.label 'Weight'%>
    <%= form.text_field :weight %>
    <br />
    <%= form.submit %>
<% end %>